body {
  background-color: aquamarine;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.active {
  color: yellow;
}
.inactive {
  background-color: "";
}
